body{
  background-color:#885f43;
}

h1 {
  font-family: 'Nunito', sans-serif;
			font-size: 40px;
  font-weight:normal;
			color: #f8f4f1;
  text-align:center;
  padding-top:10px;
		}

h2 {
  font-family: 'Nunito', sans-serif;
			font-size: 36px;
  font-weight:normal;
			color: #f8f4f1;
  text-align:center;
  padding-top:10px;
		}

p{
    font-family: 'Nunito', sans-serif;
  color: rgb(89, 44, 3);
}
#banner{
   width: 100%;
    height: 260px;
  object-fit:cover;
  margin-bottom:36px;
  
}

#about{
  /* max-width:720px; */
      /* width: 85%; */
			margin: 0 auto;
			/* background-color: lightblue; */
			padding-right: 20px;
			text-align: justify;

}

.img-fluid{
  margin-top:10px;
  border:2px #8B4513 solid;
}

.cardsbelowabout{
  background:rgb(211, 167, 126);
  padding:40px;
  padding-top:30px;
  margin:10px;
}

.text-center{
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  font-weight:normal;
	color: #f8f4f1;
  /* text-align: center !important; */
}


.card-body{
  background:#f8f4f1
}

.cardbutton{
  color:rgb(89, 44, 3);
  
}

.cardbutton:hover{
  color:#8B4513;
  border:0.5px solid rgb(89, 44, 3) ;
}

#open-position {
  text-align: center;
  font-weight:normal;
	color: #f8f4f1;
  padding-top:30px;
}


.custom-navbar {
  background-color: rgb(211, 167, 126);
  /* color:rgb(255, 255, 255); */
}

.for-height-in-nav{
  height:56px;
}


.logo {
  width: 30px;
  height: 30px;
  margin-right: 2px;
  margin-left: 5px;
  margin-bottom:5px;
  margin-top:-12px;
  
  
}

.navbar-brand{
  color:#612800;
}



.text-custom {
  color: #f8f4f1; 
  padding-left:0;
  /* text-decoration: none; */
}

.text-custom:hover{
  color:#8B4513;
}

.custom-footer{
   /* padding:10px ; */
   background-color: rgb(211, 167, 126);
}

.footer-text{
 font-size:11px;
  color: #f8f4f1;
  padding:20px;
  margin-bottom:0;
  text-align:center !important;
}

.footer-text-1{
 color: #f8f4f1; 
 font-size:13px;
text-align: justify !important;

}

.footer-text-1 p{
  color: #f8f4f1; 
} 

.center-info {
   display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;

}


h5{
  font-size:17px;
  color: #f8f4f1;
  font-weight:bold;

}


.follow i{
  font-size:17px;
}

.icon{
  margin:-12px;
}


.follow i:hover{
  color:#8B4513;
}


.button-design{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color:rgb(211, 167, 126);
  

}

.button-design:hover {
  background-color: #8B4513;
  color: #fff;
}

.for-hover:hover{
  background-color: #8B4513;
  color: #fff;
}

.table-bg-custom{
 background-color:#674833; 
  color:#f8f4f1;
}

#postings{
  margin-bottom:16px;
}

.job-listings {
  padding-left: 35px !important;
}



.jobs{
      width: 85%;
			margin: 0 auto;
			padding: 20px;
			margin-bottom:16px;
      color:#612800;
}

#title{
  color:#f8f4f1; 
  margin-bottom:4px;
  font-size: 19px;
  /* font-weight:normal; */
}





/* media queries for responsiveness  */

/* for phone */
@media (max-width: 576px) {
.btn-sm {
font-size: 12px;
padding: 4px 8px;
}
  .jobs {
    padding-left: 0;
  }
  .job-listings{
margin-left: -28px;
  }

  #about{
    font-size:13px;
    padding-right: 0;
    padding-top: 0;
    margin-top:-20px;
    width:85%;
  }

  .col-md-6
  {
    padding-top: 0px;
  }

  h1{
    font-size:28px;
  }

  h2{
    font-size:28px;
  }

  .img-fluid{
  /* padding-top:10px; */
}

  #open-position {
  padding-top:20px;
}

 
  .center-info p,
  .follow h5,
  .icon,
  .footer-text{
    text-align: center;
  }



  .footer-text{
  padding:8px;
  margin:5px;
}
}

/* for tabs */
@media (min-width: 768px) {
  .btn-tablet {
    font-size: 14px;
    padding: 8px 16px;
    border-radius:2px;
  }

  
  .job-listings{

padding-left:8px;
  }

 .img-fluid {
    /* padding-top: 10px; */
  }

}

 