<section id="contactus">
  <footer class="text-custom pt-3 custom-footer">
  <div class="container text-center">
    <div class="container ">
      <div class="row">
        <div class="col-md-6">
          <h5>Contact Info</h5>
          <div class="footer-text-1 text-center center-info">
          <p ><i class="bi bi-geo-alt"></i> <strong> Address :</strong> 562 Mumba Road, Street 32, Mumbai</p>
          <p > <i class="bi bi-telephone"></i> <strong> Phone :</strong> +91 12 3456 7890 / +91 01 2345 6789</p>
          <p > <i class="bi bi-clock"></i> <strong> Hours :</strong> 10:00-18:00, Wednesday Closed</p>
          <!-- <p ><strong>Email :</strong> moonbucks@gmail.com</p> -->
            
          <p> <a class="mail" href="#" data-url="mailto:jiminkumar13@gmail.com?subject=%3CWrite%20your%20query%20here%3E&body=Name%20-%20%3Cgive%20your%20Name%20here%3E%0D%0A%0D%0A%3CWrite%20your%20query%20here%3E"data-tooltip="Email Us" ><strong> <i class="bi bi-envelope"></i> Send Email :</strong> moonbucks@gmail.com</a></p>


        </div>
        </div>
         <div class="col-md-6">
        <div class="follow">
          <h5>Follow Us</h5>
          <div class="icon">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-pinterest"></i>
            <i class="bi bi-youtube"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="footer-text ">&copy; 2023 MoonBucks. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
</section>

